body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.left { text-align: left;
}
.text-small {
    font-size:200%;
}
    .container {
        max-width: 800px;
        margin: 0 auto;
        color: #2b2a3e;
        font-family: sans-serif;
        padding-top: 51px;
        padding-left: 10px;
        padding-right: 10px;
     }